<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="BeforeTest">
    <classes>
      <class name="com.core.testTestng.BeforeTestAnn"/>
    </classes>
  </test> <!-- Test -->
   <test thread-count="5" name="AfterTest">
    <classes>
      <class name="com.core.testTestng.AfterTestAnn"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
